body {
    font-family: Arial;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.app {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 14px;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    background: #fafafa;
    padding: 6px;
    border-radius: 6px;
}